*{
	margin: 0;
	padding: 0;
}
body{
	background: rgb(4,32,41);
}
header{
	height: 80px;
	width: 960px;
	margin: 0 auto;
}
header h1{
	color: #fff;
	line-height: 80px;
}
.con{
	width: 960px;
	height: 600px;
	margin: 0 auto;
	background: rgb(85,152,178);
	border-radius: 10px;
}
.con .title{
	height: 60px;
	width: 100%;
	background: #0A719D;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}
.con .image{
	border-radius: 5px;
	width: 940px;
	margin: 0 auto;
	border: 1px solid #000;
	height: 500px;
	background: #fff;
	margin-top: 20px;
}
.con .image img{
	padding: 10px;
	width: 920px;
	height: 480px;
}